@model MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Fout";
}

<h1 class="text-danger">Fout.</h1>
<h2 class="text-danger">Er is een fout opgetreden tijdens het verwerken van je verzoek.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Verzoek-ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Ontwikkelmodus</h3>
<p>
    Overschakelen naar de <strong>Ontwikkel</strong>-omgeving toont meer gedetailleerde informatie over de opgetreden fout.
</p>
<p>
    <strong>De Ontwikkelomgeving zou niet ingeschakeld moeten zijn voor uitgerolde applicaties.</strong>
    Dit kan ervoor zorgen dat gevoelige informatie uit uitzonderingen wordt weergegeven aan eindgebruikers.
    Voor lokaal debuggen, schakel de <strong>Ontwikkel</strong>-omgeving in door de <strong>ASPNETCORE_ENVIRONMENT</strong> omgevingsvariabele in te stellen op <strong>Ontwikkel</strong>
    en de app opnieuw te starten.
</p>
