@model Core.Models.Sessions.Session

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ActivityDate" class="control-label"></label>
                <input asp-for="ActivityDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="ActivityDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="LocationId" class="control-label">Locatie</label>
                <div class="input-group">
                    <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                    <a asp-controller="Locations" asp-action="Create" class="btn btn-secondary ms-2">Creëer nieuwe locatie</a>
                </div>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-link">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
