@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij de VictuZ Web Applicatie :)</h1>
    <p>Yay</p>
</div>
<div class="row gx-5">
    <div class="col-6">
        <div class="border basicbox">
            Agenda
        </div>
        
    </div>
    <div class="col-6">
        <div class="border basicbox">
            Nieuws
        </div>
    </div>
    
</div>